body{
    margin: 0px;
    padding: 0px;
}
#container{
    height: 100vh;
    width: 100%;
}


#header{
    background-image: url(img/pizzakep.jpg);
    background-size: cover;
    width: 100%;
    height: 35vw;
    box-shadow: 10px black;
}
#szoveg{
    display: flex;
    justify-content: space-between;
    color: white;
    
}
.headerLeft{
    display: flex;
    margin: 20px;
}
#lgMenu{
    display: flex;
}
.headerRight{
    display: flex;
    margin: 20px;
}
#hamburger{
    display: none;
}
.headerRight:first-child{
    font-weight: bold;
}
#piadina_pizzeria{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222222;
    color: white;
    width: 100%;
    gap: 5%;
    height: 20vh;
}

#piadina_pizzeria #cim{
    align-items: flex-start;
}

#cim p{
    display: flex;
    align-items: flex-end;
    justify-content: right;
    color: gray;
}
#paladina_leiras{
    width: 30%;
}
#paladina_leiras p{
    color: gray;
}

#menu{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25vh;
    background-color: black;
    color: white;
}

#menu h2{
    margin: 0px;
}
#szurke{
    color: gray;
}
#menuSzoveg{
    display: flex;
    justify-content: center;
    color: gray;
}
#menuDiv{
    margin: 5%;
    width: 50%;
}
.cim2{
    text-align: center;
    
}

#menupontok{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
.menuk{
    border: 1px solid white;
    width: 13vw;
}

#specialitas{
    
    background-color: #222222;
    color: white;
    width: 100%;
    padding-top: 5%;
    gap: 5%;
    height: 100%;
}
#specialitas p{
    color: gray;
    
}

#kepek{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 20fr 1fr 8fr;
    margin: auto;
    height: 70vh;
    width: 70vw;
    gap: 3%;
    padding: 5%;
    padding-top: 0%;
    
    
}
#kep1{
    background-image: url(img/pizzakep.jpg);
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
#kep2{
    background-image: url(img/pizzakep2.jpg);
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}
#kep3{
    background-image: url(img/pizzakep3.jpg);
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
}
#kep4{
    background-image: url(img/pizzakep4.jpg);
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
}
#kep5{
    background-image: url(img/pizzakep5.jpg);
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    
}

#kepek div{
    display: flex;
    justify-content: center;
    align-items: end;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-style: italic;
    
}

.cim2 h2{
    margin: 0px;
    
}

#kepek p{
    color: white;
}

#footer{
    background-color: black;
    color: white;
    margin: 0px;
    
}
#footerCim{
    margin: 5%;
}
#nyitvatartas{
    width: 30vw;
    color: gray;
    margin: 5%;
}

#nyitvatartas h3{
    color: white;
}
#footerSzoveg{
    display: flex;
    justify-content: center;
    
}

#footerInfo{
    margin: 5%;
    width: 15vw;
}
#footerInfo p{
    color: gray;
}
#footerInfo a{
    color: white;
}
#hr{
    width: 80vw;
    text-align: center;
    margin: auto;
    color: gray;
    
}
#hrSzoveg{
    margin: 0px;
    padding: 5%;
    
}
#hr a{
    color: gray;
}


@media (max-width:1280px){
    #hamburger{
        display: flex;
    }
    #lgMenu{
        display: none;
    }
    #piadina_pizzeria{
        height: 20vh;
    }
    #menu{
        height: 20vh;
    }
}