body{
    margin: 0px;
    padding: 0px;
    
}
#container{
    height: 100vh;
    width: 100%;
    font-size: 1.1rem;
}


#header{
    background-image: url(img/pizzakep.jpg);
    background-size: cover;
    width: 100%;
    height: 70vh;
    box-shadow: 10px black;
}
#szoveg{
    display: flex;
    justify-content: space-between;
    color: white;
    
}
.headerLeft{
    display: flex;
    margin: 20px;
}
#lgMenu{
    display: flex;
}
.headerRight{
    display: flex;
    margin: 20px;
    padding-right: 20px;
}
#hamburger{
    display: none;
}
.headerRight:first-child{
    font-weight: bold;
}
#piadina_pizzeria{
    background-color: #222222;
    
}
#piadinaSzoveg{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    color: white;
    padding: 2%;
    gap: 3%;
    height: auto;
    
}
#piadina_pizzeria #cim{
    align-items: flex-start;
    
}

#cim p{
    display: flex;
    align-items: flex-end;
    justify-content: right;
    color: gray;
    
}
 
#paladina_leiras p{
    color: gray;
    width: 30vw;
}


#menu{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; 
    height: auto;
    background-color: black;
    color: white;
}

#menu h2{
    margin: 0px;
}
#szurke{
    color: gray;
}
#menuSzoveg{
    display: flex;
    justify-content: center;
    color: gray;
}
#menuDiv{
    margin: 5%;
    width: 50%;
}
.cim2{
    text-align: center;
    
}

#menupontok{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    
    margin: 5%;
}
.menuk{
    border: 1px solid white;
    width: 13vw;
}

#specialitas{
    
    background-color: #222222;
    color: white;
    width: 100%;
    padding-top: 5%;
    gap: 5%;
    height: auto;
}
#specialitas p{
    color: gray;
    
}

#kepek{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 20fr 1fr 8fr;
    margin: auto;
    height: 70vh;
    width: 50vw;
    gap: 3%;
    padding: 5%;
    padding-top: 0%;
    
    
}
#kep1{
    background-image: url(img/pizzakep.jpg);
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
#kep2{
    background-image: url(img/pizzakep2.jpg);
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}
#kep3{
    background-image: url(img/pizzakep3.jpg);
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
}
#kep4{
    background-image: url(img/pizzakep4.jpg);
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
}
#kep5{
    background-image: url(img/pizzakep5.jpg);
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 5;
    
    
}

#kepek div{
    display: flex;
    justify-content: center;
    align-items: end;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-style: italic;
    
}

.cim2 h2{
    margin: 0px;
    
}

#kepek p{
    color: white;
}

#footer{
    background-color: black;
    color: white;
    margin: 0px;
    
}
#footerCim{
    margin: 2%;
}
#nyitvatartas{
    width: 20vw;
    color: gray;
    margin: 2%;
}

#nyitvatartas h3{
    color: white;
}
#footerSzoveg{
    display: flex;
    justify-content: center;
    
}

#footerInfo{
    margin-top: 2%;
    width: 15vw;
}
#footerInfo p{
    color: gray;
}
#footerInfo a{
    color: white;
}
#hr{
    width: 60vw;
    text-align: center;
    margin: auto;
    color: gray;
    
}
#hrSzoveg{
    margin: 0px;
    padding: 5%;
    
}
#hr a{
    color: gray;
}

#lgMenu{
    display: flex;
    gap: 2%;
}

@media (max-width:1200){
    #container{
        font-size: 0.8rem !important; 
    }
}


@media (max-width:768px){
    #container{
        font-size: 1.1rem;
    }
    #lgMenu{
        display: block;
        
    }
    .perJel{
        display: none;
    }
    #header{
        height: 50vh;
    }
    #piadinaSzoveg{
        width: 100vw;
    }
    #piadina_leiras p{
        width: auto;
    }
}
@media (max-width:576px){
    #container{
        font-size: 1rem;
        
    }
    #header{
        height: 30vh;
    }
    #cim p{
        display: block;
        text-align: right;
    }
    #piadina_pizzeria div{
        margin: auto;
    }
    #piadina_pizzeria{
        width: 100vw;
    }
    #piadinaSzoveg{
        display: flex;
        flex-direction: column;
        
        
        padding: 0%;
        
    }
    #piadinaSzoveg p{
        width: 90vw;
    }
    #piadinaSzoveg #cim{
        text-align: right;
    }
    #menu{
        display: flex;
        flex-direction: column;
        
        
    }
    #menupontok{
        display: flex;
        flex-direction: column;
        justify-content: center;

    }
    #menuDiv{
        width: 100vw;
    }
    .menuk{
        width: 60vw;
        margin-inline: auto;
        margin-top: 10%;
    }
    #kepek{
        display: block;
        height: 310vh;
        width: 100vw;
    }
    #kep1{
        margin-top: 10%;
        height: 40vh;
        width: 90vw;
        margin-top: 10%;
    }
    #kep2{
        background-image: url(img/pizzakep3.jpg);
        height: 50vh;
        width: 90vw;
        margin-top: 10%;
    }
    #kep3{
        background-image: url(img/pizzakep4.jpg);
        height: 50vh;
        width: 90vw;
        margin-top: 10%;
    }
    #kep4{
        background-image: url(img/pizzakep2.jpg);
        height: 100vh;
        width: 90vw;
        margin-top: 10%;
    }
    #kep5{
        background-image: url(img/pizzakep5.jpg);
        height: 40vh;
        width: 90vw;
        margin-top: 10%;
    }
    #footerSzoveg{
        display: flex;
        flex-direction: column;
    }
    #footerCim{
        text-align: right;
    }
    #footerCim br{
        display: none;
    }
    #nyitvatartas{
        width: 90vw;
    }
    #footerInfo{
        width: 90vw;
        margin-left: 2%;
    }
    #hr{
        width: 97vw;
    }
}