body{
    margin: 0px;
}
#container{
    
    width: 100%;
}


#header{
    background-image: url(img/pizzakep.jpg);
    background-size: cover;
    width: 100%;
    height: 35vw;
    box-shadow: 10px 10px black;
}
#szoveg{
    display: flex;
    justify-content: space-between;
    color: white;
    
}
.headerLeft{
    display: flex;
    margin: 20px;
}
.headerRight{
    display: flex;
    margin: 20px;
}
.headerRight:first-child{
    font-weight: bold;
}
#piadina_pizzeria{
    display: flex;
    justify-content: center;
    
    background-color: #222222;
    color: white;
    width: 100%;
    margin: auto;
    gap: 5%;
    height: 30vh;
    
}



#cim p{
    display: flex;
    align-items: flex-end;
    justify-content: right;
    color: gray;
}
#paladina_leiras{
    width: 30%;
}
#paladina_leiras p{
    color: gray;
}